* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  background-image: url("../../images/YbgWPZ.jpg");
  background-size: cover;
  background-attachment: fixed;
  line-height: 20px;
  position: relative;
  width: 100%;
  height: 100%;
}


.main{
  padding: 20px;
  width: 100%;
  height: 100%;

}

.breadcrumbb{
  background: #060a0a;
  padding: 15px 20px;
  margin-bottom: 20px;
  list-style: none;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  white-space: nowrap;
  overflow: auto;
}

.breadcrumbb > div{
  margin-top: 6px;
}

.breadcrumbb > li {
  display: inline-block;
}
.breadcrumbb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumbb > .active {
  color: #777777;
}

.breadcrumbb > li > a{
  color: #ffffff;
}

.breadcrumbb > li > a:hover{
  color: #00b389;
}


.titulo_categoria {
  background: #0c0c0c;
  color: #dfeff9;
  font-weight: 500;
  font-size: 16px;
  font-family: Courier, "Courier New", "Helvetica Neue", Helvetica, "Droid Sans", sans-serif;
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 14px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -moz-border-top-left-radius: 2px;
  -moz-border-top-right-radius: 2px;
  -webkit-border-top-left-radius: 2px;
  -webkit-border-top-right-radius: 2px;
}

.categorias_con_foros {
  margin-bottom: 4px;
}

.cajas {
  width: 100%;
  padding: 8px 5px 5px 5px;
  background: #f0f0f0;
  border: 1px solid #e0e0e0;
  height: auto!important;
}

.resaltado_caja {
  width: 100%;
  padding: 5px;
  background: #dddfe6;
  border: 1px solid #e0e0e0;
  height: auto!important;
}

.no_style_list {
  list-style: none;
  padding-left: 2px;
}

.no_style_list li {
  margin-bottom: 4px;
}

.table-run{
  background: #f0f0f0;
  border-left: 4px solid #530000;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table-run tr{
  border: 1px solid #dddddd;
}

.table-run td, .table-run th{
  padding: 10px;
  text-align: left;
}

.table-run th {
  text-transform: full-size-kana;
  letter-spacing: 1px;
}

table.table-add,table.t_auto,table.table-addtwo,table.t_autotwo{
  background: #f0f0f0;
  border-left: 4px solid #530000;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 50px 0;
}

.table-add th,.t_auto th,.table-addtwo th,.t_autotwo th{
  border: 1px solid #dddddd;
  padding: 5px;
  text-align: center;
}

.table-add td, .t_auto td,.table-addtwo td, .t_autotwo td{
  border-bottom: 1px solid #cccccc;
  padding: 5px;
  text-align: center;
}

.table-add tr:last-child td,.t_auto tr:last-child td,.table-addtwo tr:last-child td,.t_autotwo tr:last-child td{
  border: 0;
}

.tbl,.tbltwo{
  width: auto;
  min-width: 100%;
}

.t_auto th,.t_auto td,.t_autotwo th,.t_autotwo td{
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 768px), (min-width: 768px) and (max-width: 1024px){

  table.table-add, .table-add thead, .table-add tbody, .table-add th, .table-add td, .table-add tr,table.table-addtwo, .table-addtwo thead, .table-addtwo tbody, .table-addtwo th, .table-addtwo td, .table-addtwo tr{display: block}

  .table-add thead tr,.table-addtwo thead tr{position: absolute;
    top: -9999px; left: -9999px}

  .table-add tr,.table-addtwo tr{border: 1px solid #cccccc}

  .table-add td,.table-addtwo td{border: none;border-bottom: 1px solid #cccccc;position: relative;padding-left: 45%;text-align: left;}

  .table-add td:before,.table-addtwo td:before{position: absolute;
    top: 6px; left: 6px; width: 40%;padding-right: 10px; white-space: nowrap;font-weight: bolder}

  .table-add td:nth-of-type(1):before{content: "ID:";}
  .table-add td:nth-of-type(2):before{content: "Categoria:";}
  .table-add td:nth-of-type(3):before{content: "Acciones:";}

  .table-addtwo td:nth-of-type(1):before{content: "ID:";}
  .table-addtwo td:nth-of-type(2):before{content: "Foro:";}
  .table-addtwo td:nth-of-type(3):before{content: "Mensajes:";}
  .table-addtwo td:nth-of-type(4):before{content: "Temas:";}
  .table-addtwo td:nth-of-type(5):before{content: "Categoria:";}
  .table-addtwo td:nth-of-type(6):before{content: "Estado:";}
  .table-addtwo td:nth-of-type(7):before{content: "Acciones:";}

  .descarto,.descartotwo {display: none}
  .fontsize,.fontsizetwo{font-size: 10px}
}


@media only screen and (min-width: 320px) and (max-width: 480px){
  .descarto,.descartotwo{display: none}
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .descarto,.descartotwo{display: none}
  .fontsize,.fontsizetwo{font-size: 10px}
}

.foros {
  width: 100%;
  height: 100%;
  padding-left: 5px;
  background: #f0f0f0;
  border-left: 4px solid #530000;
  max-height: 50px;
  padding-top: 5px;
}

.foros img{
  width: auto;
  z-index: 10;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.foros div.left_border {
  border-left: 3px solid #0c0c0c;
}

.foros div a {
  color: #0a78ba;
  font-weight: bold;
}

.foros div a:hover {
  color: #52a4d5;
}

.puntitos {
  overflow:hidden;
  white-space:nowrap;
  text-overflow: ellipsis;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.tema_textarea {
  height: 500px!important;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.colorBtn{
  padding: .6em 2em;
  margin: .6em;
  border: none;
  position: relative;
  color: #ffffff;
  font-weight: bolder;
  background-color: #199f8c;
  white-space: nowrap;
}
.colorBtn:hover{
  background: #002929;
  color: #ffffff;
}
.colorBtn:before{
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #84d4c7;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all .3s;
}
.colorBtn:hover:before{
  width: 100%;
  left: 0;
}

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 0px 3px grey; }

.contenedor-formulario {
  width: 100%;
  color: #f2f2f2;
  padding: 50px; }
.contenedor-formulario .formulario {
  width: 100%;
  margin: auto; }
.contenedor-formulario .formulario .input-group {
  position: relative;
  margin-bottom: 32px; }
.contenedor-formulario .formulario .input-group input[type="text"],
.contenedor-formulario .formulario .input-group input[type="email"],
.contenedor-formulario .formulario .input-group input[type="password"] {
  font-family: "Roboto";
  font-size: 16px;
  color: #47bb80;
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #BBDEFB; }
.contenedor-formulario .formulario .input-group input[type="text"]:focus, .contenedor-formulario .formulario .input-group input[type="text"]:active,
.contenedor-formulario .formulario .input-group input[type="email"]:focus,
.contenedor-formulario .formulario .input-group input[type="email"]:active,
.contenedor-formulario .formulario .input-group input[type="password"]:focus,
.contenedor-formulario .formulario .input-group input[type="password"]:active {
  outline: none;
  border-bottom: 2px solid #303F9F; }
.contenedor-formulario .formulario .input-group input[type="text"].error,
.contenedor-formulario .formulario .input-group input[type="email"].error,
.contenedor-formulario .formulario .input-group input[type="password"].error {
  border-bottom: 2px solid #D32F2F; }
.contenedor-formulario .formulario .input-group input[type="text"].error + label,
.contenedor-formulario .formulario .input-group input[type="email"].error + label,
.contenedor-formulario .formulario .input-group input[type="password"].error + label {
  color: #D32F2F; }
.contenedor-formulario .formulario .input-group label {
  color: #303F9F; }
.contenedor-formulario .formulario .input-group label.label {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-left: 15px;
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 16px;
  left: 0; }
.contenedor-formulario .formulario .input-group label.label.active {
  top: -12px;
  font-size: 12px;
  line-height: 12px;
  color: #B6B6B6; }
.contenedor-formulario .formulario .input-group.checkbox label, .contenedor-formulario .formulario .input-group.radio label {
  display: inline-block;
  cursor: pointer;
  color: #303F9F;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.contenedor-formulario .formulario .input-group.checkbox label:hover, .contenedor-formulario .formulario .input-group.radio label:hover {
  background: #bbdefb; }
.contenedor-formulario .formulario .input-group.checkbox label:before, .contenedor-formulario .formulario .input-group.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 2px solid #303F9F; }
.contenedor-formulario .formulario .input-group.error label {
  color: #D32F2F; }
.contenedor-formulario .formulario .input-group.error label:hover {
  background: rgba(211, 47, 47, 0.2); }
.contenedor-formulario .formulario .input-group.error label:before {
  border: 2px solid #D32F2F; }
.contenedor-formulario .formulario .input-group.radio input[type="radio"] {
  display: none; }
.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label:before {
  display: none; }
.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #303F9F;
  border-radius: 2px;
  color: #f2f2f2; }
.contenedor-formulario .formulario .input-group.checkbox label:before {
  border-radius: 3px; }
.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"] {
  display: none; }
.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label:before {
  display: none; }
.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked + label {
  background: #303F9F;
  color: #f2f2f2;
  padding: 5px 15px; }
.contenedor-formulario .formulario input[type="submit"] {
  background: #0d112a;
  border-radius: 1px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto";
  font-size: 16px;
  padding: 15px;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.contenedor-formulario .formulario input[type="submit"]:hover {
  background: #111637; }

footer{
  background-image: url("../../images/skriptedfort.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 0 10px #ffffff;
  -webkit-box-shadow: 2px 0 10px #ffffff;
  -moz-box-shadow: 2px 0 10px #ffffff;
  background-attachment: fixed;
  color: #530000;
  padding: 40px 40px;
  width: 100%;
}

.social{
  position: fixed;
  right: 0;
  top: 150px;
  z-index: 2000;
  width: 50px;
}

.social ul{
  list-style: none;
}

.social ul li a{
  display: inline-block;
  color: #ffffff;
  padding: 10px 15px;
  background: #000000;
  text-decoration: none;
}

@media screen and (max-width: 769px){
  .colorBtn{
    padding: .6em 2em;
    margin: .6em;
    border: none;
    position: relative;
    color: #ffffff;
    font-weight: bolder;
    background-color: #199f8c;
    float: inherit;
  }

  .social{
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 2000;
  }
}

@media screen and (max-width: 480px){
    .table-run tr{
        margin-bottom: 2px;
        display: block;
        border-bottom: 3px solid #dddddd;
    }

    .table-run th{
        display: block;
        text-align: left;
    }

    .table-run td:last-child{
        border-bottom: 0;
    }

    .table-run th:before{
        content: attr(data-label);
        float: left;
    }

  .table-add tr{
        margin-bottom: 2px;
        display: block;
        border-bottom: 3px solid #dddddd;
    }

    .table-add th{
        display: block;
        text-align: left;
    }

    .table-add td:last-child{
        border-bottom: 0;
    }

    .table-add th:before{
        content: attr(data-label);
        float: left;
    }



  .colorBtn{
    margin: .8em;
    border: none;
    position: relative;
    color: #ffffff;
    font-weight: bolder;
    background-color: #199f8c;
  }

  .social{
    position: fixed;
    right: 0;
    top: 150px;
    z-index: 2000;
  }
}

.msj{
  text-align: justify;
  overflow: auto;
}

blockquote{
  position: relative;
  text-align: center;
  box-sizing: border-box;
}

.icon{
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 0 5px 10px #ffffff;
  -moz-box-shadow: 0 5px 10px #ffffff;
  box-shadow: 8px 5px 5px #000000, 4px 6px 11px #000000 inset,4px 2px 15px #000000 inset,10px 6px 11px #000000 inset;
  margin-bottom: 5px;
}

.mbr-overlay{
  opacity: 0.7;
  background-color: rgb(68, 68, 68);
}
.mbr-footer__copyright{
  padding: 15px;
}
